@import "../../../styles/_variables.scss";

.container {
  position: relative;

  &:hover .tooltip {
    opacity: 1;
  }
}

.tooltip {
  @include border($color: $color-base-orange);
  position: fixed;
  padding: $size-8;
  margin-left: $size-16;
  background-color: $color-base-dark;
  z-index: 2;

  p {
    @include font-size($size-12);
  }
}

.tooltip.show {
  opacity: 1;
}
