@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;

  .loading {
    @include flexbox($justify-content: $center);
    width: $full-size;
    margin: $size-32 $null;
    padding-right: $size-8;
  }

  .choosegang {
    @include flexbox(
      $flex-direction: column,
      $justify-content: $center,
      $align-items: $center
    );

    .choosegangText {
      @include font-size($size-16);
      color: $color-base-orange;
      font-weight: $font-weight-bold;
      margin: $size-16 0;
    }
  }
}
