@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;

  .tableWrapper {
    overflow-x: scroll;
    @include screen($size: mobile) {
      margin-bottom: $size-16;
    }
  }

  .noResultText {
    @include flexbox($justify-content: $center);
    margin-bottom: $size-32;
  }
}
