@import "../../../styles/_variables.scss";

.container {
  @include flexbox($justify-content: $center);
  position: relative;
  width: $full-size;

  .imageWrapper {
    position: relative;
    border-radius: $size-8;
    overflow: hidden;
  }

  .image {
    width: $full-size;
    aspect-ratio: 16/9;
    box-shadow: $shadow;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: $null;
    left: $null;
    width: $full-size;
    height: $full-size;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .titleWrapper {
    @include flexbox($justify-content: space-between);
    position: absolute;
    width: $full-size;
    padding: $size-8 $size-16;
    bottom: $size-8;
    background-color: rgba(0, 0, 0, 0.6);

    a {
      padding: $size-8 $size-32;
    }
  }

  .prevSlide,
  .nextSlide {
    position: absolute;
    top: calc($half-size - $size-10);
    cursor: pointer;

    svg {
      fill: $color-base-orange;
    }
  }

  .prevSlide {
    left: $size-16;
  }

  .nextSlide {
    right: $size-16;
  }
}
