@import "../../../styles/_variables.scss";

.container {
  position: relative;
  width: $full-size;

  .imageWrapper {
    position: relative;
  }

  .image {
    width: $full-size;
    aspect-ratio: 16/9;
    margin-bottom: $size-32;
    border-radius: $size-8;
    box-shadow: $shadow;
    object-fit: cover;
  }

  .prevSlide,
  .nextSlide {
    position: absolute;
    top: calc($half-size - $size-10);
    cursor: pointer;

    svg {
      fill: $color-base-orange;
    }
  }

  .prevSlide {
    left: $size-16;
  }

  .nextSlide {
    right: $size-16;
  }
}
