@import "../../../styles/_variables.scss";

.container {
  @include flexbox();
  @include border($size-4, solid, $color-base-green-500, left);
  color: $color-base-green-500;
  padding: $size-4 $size-8;
  margin-bottom: $size-32;
  min-height: $size-32;
  background-color: $color-base-dark;
}
