@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;

  .loading {
    @include flexbox($justify-content: $center);
    width: $full-size;
    margin: $size-32 $null;
    padding-right: $size-8;
  }

  .activeTable {
    margin-bottom: $size-16;
  }

  .maxLimit,
  .tableHeading {
    @include flexbox($justify-content: $center);
    color: $color-base-orange;
    font-weight: $font-weight-bold;
    margin-bottom: $size-16;
  }

  .maxLimit {
    color: $color-base-light;
    margin-bottom: $size-32;

    span {
      color: $color-base-orange;
      margin-left: $size-4;
    }
  }

  .actionsContainer {
    @include flexbox($flex-direction: row, $flex-wrap: wrap, $gap: $size-8);

    @include screen($size: mobile) {
      flex-direction: column;
      gap: $size-16;
    }
  }
}
