@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;

  .actionsContainer {
    @include flexbox($flex-direction: row, $flex-wrap: wrap, $gap: $size-8);

    @include screen($size: mobile) {
      flex-direction: column;
      gap: $size-16;
    }
  }

  .special {
    color: $color-base-orange;
    font-weight: $font-weight-bold;
  }
}
