@import "../../../styles/_variables.scss";

.container {
  .loading {
    @include flexbox($justify-content: $center, $align-items: $center);
  }

  .table {
    width: $full-size;
    border-collapse: collapse;
  }

  th,
  td {
    @include border($color: $color-base-orange, $side: bottom);
    padding: $size-10;
    text-align: $center;

    p {
      @include font-size($size-12);
    }
  }

  th {
    background-color: $color-base-dark-200;
  }

  .currentUserRow {
    background-color: $color-base-orange;
    color: $color-base-dark;
    font-weight: $font-weight-bold;
  }

  .currentUserTopTenRow {
    font-weight: $font-weight-bold;
  }

  .currentUserRow,
  .ellipsisRow,
  .currentUserTopTenRow {
    td {
      border: none;
    }
  }
}
