@import "../../../styles/_variables.scss";

.container {
  .loading {
    @include flexbox($justify-content: $center, $align-items: $center);
  }

  .currentUserRow {
    background-color: $color-base-orange;
    color: $color-base-dark;
    font-weight: $font-weight-bold;
  }

  .currentUserTopTenRow {
    font-weight: $font-weight-bold;
  }

  .currentUserRow,
  .ellipsisRow,
  .currentUserTopTenRow {
    td {
      border: none;
    }
  }
}
