@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;

  .freedom {
    @include flexbox(
      $flex-direction: column,
      $justify-content: $center,
      $align-items: $center
    );

    .freedomText {
      @include font-size($size-16);
      color: $color-base-green-500;
      font-weight: $font-weight-bold;
      margin: $size-16 0;
    }
  }

  .prisonStats {
    margin-bottom: $size-32;
    h4 {
      color: $color-base-red-500;
      text-align: $center;
      margin-bottom: $size-32;
    }

    span {
      color: $color-base-orange;
      font-weight: $font-weight-bold;
    }
  }

  .actionsContainer {
    @include flexbox($flex-direction: column, $gap: $size-16);
  }
}
