@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;

  .loading {
    @include flexbox($justify-content: $center);
    width: $full-size;
    margin: $size-32 $null;
    padding-right: $size-8;
  }

  .freedom {
    @include flexbox(
      $flex-direction: column,
      $justify-content: $center,
      $align-items: $center
    );

    svg {
      fill: $color-base-green-500;
      margin-bottom: $size-32;
    }
  }

  .prisonStats {
    margin-bottom: $size-32;
    h4 {
      color: $color-base-red-500;
      text-align: $center;
      margin-bottom: $size-32;
    }

    span {
      color: $color-base-orange;
      font-weight: $font-weight-bold;
    }
  }

  .actionsContainer {
    @include flexbox($flex-direction: column, $gap: $size-16);
  }
}
