@import "../../../styles/_variables.scss";

.container {
  margin-bottom: $size-32;

  .description {
    margin: $size-32 0;
  }

  .imageWrapper {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: $null;
    left: $null;
    width: $full-size;
    height: $full-size;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .titleWrapper {
    position: absolute;
    width: $full-size;
    padding: $size-8 $size-16;
    bottom: $size-8;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
