@import "../../../styles/_variables.scss";

.container {
  .stats {
    @include flexbox($flex-wrap: wrap, $gap: $size-8);
    @include border($width: $size-2, $color: $color-base-orange, $side: left);
    background-color: $color-base-dark;
    padding: $size-8;
    margin-bottom: $size-32;

    .params {
      width: $half-size;

      @include screen($size: mobile) {
        width: $two-thirds;
      }

      p {
        color: $color-base-orange;
      }

      span {
        color: $color-base-light;
        font-weight: $font-weight-bold;
      }

      .paramsEmail {
        color: $color-base-light;
        margin-bottom: $size-32;
      }
    }

    .photo {
      @include flexbox($justify-content: flex-end);
      width: calc($half-size - $size-8);

      @include screen($size: mobile) {
        @include flexbox($align-items: $center);
        width: calc($third-size - $size-8);
      }

      img {
        border-radius: $size-8;
        @include screen($size: mobile) {
          @include border($width: $size-2, $color: $color-base-orange);
          border-radius: $half-size;
        }
      }
    }

    .userStats {
      @include flexbox($flex-wrap: wrap, $gap: $size-8);
      @include border(
        $width: $size-1,
        $color: $color-base-dark-200,
        $side: top
      );
      width: $full-size;
      padding-top: $size-16;

      & > div {
        width: calc($half-size - $size-8);
      }

      @include screen($size: mobile) {
        @include flexbox($flex-direction: column, $gap: $size-8);
        & > div {
          width: $full-size;
        }
      }
    }
  }

  .avatars {
    @include flexbox(
      $flex-wrap: wrap,
      $justify-content: space-between,
      $gap: $size-4
    );
    margin-bottom: $size-16;
  }

  .avatar {
    width: calc($quarter-size - $size-4);

    label {
      padding-bottom: $null;
    }

    input[type="radio"] {
      &:hover {
        + img {
          cursor: pointer;
        }
      }
      &:checked {
        + img {
          outline: $size-1 solid $color-base-gold;
        }
      }
    }
  }
}
