@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;
  background-color: darken($color-base-dark, 10%);
  width: $full-size;
  padding: $size-32;

  .sectionsWrapper {
    max-width: $layout-max-width;
    margin: 0 auto;
  }

  .menuSections {
    @include flexbox($justify-content: space-between);
    width: $two-thirds;
    padding: $null $size-16;
  }

  .imageSection {
    width: $third-size;
    padding: $null $size-16;
  }

  .sectionItem {
    &:hover {
      @include transition(color);
      color: $color-base-orange;
    }
  }
}
