@import "../../../styles/_variables.scss";

.container {
  @include flexbox($gap: $size-16);
  position: relative;
  margin: $null auto;
  max-width: $layout-max-width;
  z-index: 1;

  @include screen($size: mobile) {
    @include flexbox($flex-direction: column);
  }

  .actions {
    padding: $size-16 $null $size-16 $size-8;
    width: $half-size;

    @include screen($size: mobile) {
      padding: $null;
      width: $full-size;
    }
  }

  .sidebar {
    @include flexbox($flex-direction: column, $gap: $size-16);
    @include screen($size: mobile) {
      padding-top: $size-16;
    }
  }

  .logoWrapper {
    padding: $size-8;
    margin-bottom: $size-16;
    background-color: darken($color-base-dark, 10%);
    border-radius: $size-8;
    @include screen($size: mobile) {
      margin: $null;
      padding: $null;
      background-color: unset;
    }

    img {
      width: calc($three-quarters-size - $size-16);
      margin: $null $auto;
    }
  }

  .mobileIcons {
    display: none;

    @include screen($size: mobile) {
      @include flexbox(
        $align-items: $center,
        $justify-content: space-between,
        $gap: $size-32
      );
      padding: $null $size-16;
      margin: $size-16 $null;
      width: $full-size;
    }

    .mobileIcon {
      @include flexbox(
        $flex-direction: column,
        $align-items: $center,
        $justify-content: $center,
        $gap: $size-8
      );
      @include border($color: $color-base-dark-200);
      width: $full-size;
      padding: $size-16;
      background-color: darken($color-base-dark, 10%);
      border-radius: $size-8;
      box-shadow: $shadow;

      svg {
        fill: $color-base-dark-500;
      }

      p {
        padding-bottom: $null;
        margin-right: $null;
      }

      &:hover {
        @include border($color: $color-base-orange);
        @include transition(
          all,
          $duration: 0.3s,
          $timing-function: ease-in-out
        );

        svg,
        p {
          @include transition(all, $duration: 0.3s, $timing-function: ease);
          fill: $color-base-orange;
          color: $color-base-orange;
        }

        svg {
          transform: scale(1.1);
        }
      }
    }
  }

  .userWrapper {
    @include flexbox();
    width: $full-size;
  }

  .userInterface {
    display: block;
    width: $three-quarters-size;
    z-index: 1;

    @include screen($size: mobile) {
      display: none;

      &.mobileOpen {
        display: block;
        position: fixed;
        z-index: 9;
        top: $null;
        width: $full-size;
      }
    }
  }

  .actionInterface {
    display: block;

    @include screen($size: mobile) {
      display: none;

      &.mobileOpen {
        display: block;
        position: fixed;
        z-index: 9;
        top: $null;
        width: $full-size;
      }
    }
  }

  .sliderWrapper {
    width: $full-size;

    @include screen($size: mobile) {
      display: none;
    }
  }

  .navigation {
    @include transition(all, $duration: 0.5s, $timing-function: ease-in-out);
    width: $quarter-size;
    margin: $size-16 $null;
    transform: translateX(-$three-quarters-size);
    display: block;

    @include screen($size: mobile) {
      display: none;

      &.mobileOpen {
        display: block;
        position: fixed;
        z-index: 9;
        top: $null;
        width: $full-size;
        margin: $null;
      }
    }
  }

  .open {
    transform: translateX(0);
  }

  .content {
    @include flexbox($flex-direction: column, $justify-content: flex-start);
    width: $half-size;
    background-color: $color-base-dark-50;
    margin-right: $size-8;

    @include screen($size: mobile) {
      padding: $null;
      width: $full-size;
    }
  }

  .contentContainer {
    width: $full-size;
    height: $full-size;
    padding: $size-16;
    overflow: hidden;
  }
}
