@import "../../../styles/_variables.scss";

.container {
  @include flexbox($gap: $size-16);
  position: relative;
  margin: $null auto;
  max-width: $layout-max-width;
  z-index: 1;

  @include screen($size: mobile) {
    @include flexbox($flex-direction: column);
  }

  .actions {
    padding: $size-16 $null $size-16 $size-16;
    width: $half-size;

    @include screen($size: mobile) {
      padding: $null;
      width: $full-size;
    }
  }

  .sidebar {
    @include flexbox($flex-direction: column, $gap: $size-16);
    @include screen($size: mobile) {
      padding-top: $size-16;
    }
  }

  .logoWrapper {
    margin-bottom: $size-16;

    img {
      width: calc($three-quarters-size - $size-16);
      margin: $null $auto;
    }
  }

  .mobileIcons {
    display: none;

    @include screen($size: mobile) {
      width: $full-size;
      @include flexbox();
    }
  }

  .userWrapper {
    @include flexbox();
  }

  .userInterface {
    display: block;
    width: calc($three-quarters-size - $size-16);
    z-index: 1;

    @include screen($size: mobile) {
      display: none;
    }

    &.mobileOpen {
      display: block;
    }
  }

  .actionInterface {
    display: block;

    @include screen($size: mobile) {
      display: none;
    }

    &.mobileOpen {
      display: block;
    }
  }

  .sliderWrapper {
    width: calc($full-size - $size-16);
  }

  .navigation {
    @include transition(all, $duration: 0.5s, $timing-function: ease-in-out);
    width: $quarter-size;
    margin: $size-16 $null;
    transform: translateX(-$three-quarters-size);
  }

  .open {
    transform: translateX(0);
  }

  .content {
    @include flexbox($flex-direction: column, $justify-content: flex-start);
    width: $half-size;
    background-color: $color-base-dark-50;
    margin-right: $size-16;

    @include screen($size: mobile) {
      padding: $null;
      width: $full-size;
    }
  }

  .contentContainer {
    width: $full-size;
    height: $full-size;
    padding: $size-16;
    overflow: hidden;
  }
}
