@import "../../../styles/_variables.scss";

.statusContainer {
  @include flexbox(
    $flex-direction: column,
    $align-items: $center,
    $gap: $size-16
  );

  .status {
    @include flexbox($justify-content: $center, $align-items: $center);
    @include border($color: $color-base-orange, $width: $size-2);
    border-radius: $size-8;
    padding: $size-16;
    width: $half-size;
    background: darken($color-base-dark, 10%);
    box-shadow: $shadow;
  }

  .balance {
    margin-bottom: $size-16;

    h4 {
      font-weight: $font-weight-normal;
    }

    span {
      font-weight: $font-weight-bold;
      color: $color-base-orange;
    }
  }
}
