@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;

  .actionsContainer {
    @include flexbox(
      $flex-direction: row,
      $align-items: $center,
      $flex-wrap: wrap,
      $gap: $size-16
    );
    width: $full-size;
  }

  .loading {
    @include flexbox($justify-content: $center);
    width: $full-size;
    margin: $size-32 $null;
    padding-right: $size-8;
  }
}
