@import "../../../styles/_variables.scss";

.container {
  position: relative;
  width: $full-size;
  height: $full-size;
  cursor: pointer;
  background-color: darken($color-base-dark, 10%);
  border-radius: $null $size-8 $size-8 $null;
  box-shadow: $shadow;
}

.content {
  @include flexbox($flex-direction: column, $gap: $size-16);
  @include transition(all);
  width: $three-quarters-size;
  padding: $size-16 $size-8;
  opacity: $null;
  white-space: nowrap;
}

.sidebar {
  @include flexbox($align-items: $center, $justify-content: $center);
  position: absolute;
  right: $null;
  top: $null;
  height: $full-size;
  width: $quarter-size;
  background-color: darken($color-base-dark, 10%);
  border-radius: $null $size-8 $size-8 $null;
  writing-mode: vertical-rl;
  text-orientation: upright;

  p {
    @include font-size($size-12);
  }
}

.open {
  width: $full-size;
  height: $full-size;

  @include screen($size: mobile) {
    height: 100vh;
    padding: $size-16;
    overflow-y: scroll;
  }

  .content {
    @include flexbox($flex-direction: column, $gap: $size-16);
    width: $full-size;
    padding: $size-16;
    opacity: 1;

    @include screen($size: mobile) {
      gap: $size-32;
      padding: $null;
    }
  }

  .sidebar {
    display: none;
  }
}

.mobileClose {
  display: none;

  @include screen($size: mobile) {
    @include flexbox($justify-content: flex-end);
    width: $full-size;

    svg {
      fill: $color-base-dark-500;

      &:hover {
        fill: $color-base-orange;
      }
    }
  }
}

.icon {
  position: absolute;
  z-index: 2;
  bottom: $null;
  right: $null;
  padding: $size-4;

  @include screen($size: mobile) {
    display: none;
  }

  svg {
    fill: $color-base-orange;
    path {
      stroke: $color-base-orange;
    }
  }
}
