@import "../../../styles/_variables.scss";

.container {
  width: $full-size;
  padding: $size-16;
  background-color: transparentize($color-base-dark-100, 0.4);
  border-radius: $size-8;
  box-shadow: $shadow;
}

.panelContainer {
  @include flexbox($gap: $size-8);

  .avatar {
    border-radius: $size-8;
    overflow: hidden;
    width: 18rem;
    height: 18rem;
  }
  .user {
    @include flexbox($flex-direction: column, $gap: $size-8);
  }
}
