@import "../../../styles/_variables.scss";

.container {
  @include border($color: $color-base-dark-100);
  width: $full-size;
  padding: $size-16;
  background-color: $color-base-dark-50;
  border-radius: $size-8;
  box-shadow: $shadow;

  &.mobileOpen {
    @include screen($size: mobile) {
      height: 100vh;
      overflow-y: scroll;
    }
  }

  .mobileClose {
    display: none;

    @include screen($size: mobile) {
      @include flexbox($justify-content: flex-end);

      svg {
        fill: $color-base-dark-500;

        &:hover {
          fill: $color-base-orange;
        }
      }
    }
  }
}

.userContainer {
  @include flexbox($flex-direction: column, $gap: $size-8);
}

.panelContainer {
  @include flexbox($gap: $size-8);

  @include screen($size: mobile) {
    flex-direction: column;
  }

  .avatar {
    border-radius: $size-8;
    overflow: hidden;
    width: $half-size;

    @include screen($size: mobile) {
      border-radius: $half-size;
      margin: $null $auto;
    }
  }

  .user {
    @include flexbox($flex-direction: column, $gap: $size-4);
    width: $half-size;

    @include screen($size: mobile) {
      width: $full-size;
    }
  }

  .class {
    @include font-size($size-12);
    font-weight: $font-weight-bold;
    color: $color-base-orange;
  }
}

.userStats {
  @include flexbox($flex-wrap: wrap, $gap: $size-8);
  width: $full-size;
  margin: $size-16 $null;

  @include screen($size: mobile) {
    flex-direction: column;
    gap: $size-16;
  }

  & > div {
    width: calc($third-size - $size-8);

    @include screen($size: mobile) {
      width: $full-size;
    }
  }
}
