@import "../../../styles/_variables.scss";

.container {
  width: 75%;
  padding: $size-16;
  background-color: transparentize($color-base-dark-100, 0.4);
  border-radius: $size-8;
  box-shadow: $shadow;
}

.userContainer {
  @include flexbox($flex-direction: column, $gap: $size-8);
}

.panelContainer {
  @include flexbox($gap: $size-8);

  .avatar {
    border-radius: $size-8;
    overflow: hidden;
    width: auto;
  }

  .user {
    @include flexbox($flex-direction: column, $gap: $size-4);
    width: $full-size;
  }

  .class {
    @include font-size($size-12);
    font-weight: $font-weight-bold;
    color: $color-base-orange;
  }
}
