@import "../../../styles/_variables.scss";

.container {
  @include flexbox();
  .icon {
    @include border($color: $color-base-dark-500, $side: right);
    padding-right: $size-8;
  }

  .stats {
    @include flexbox(
      $flex-direction: column,
      $justify-content: $center,
      $align-items: $center,
      $gap: $size-4
    );
    width: $full-size;
    background-color: rgba($color-base-dark-500, 0.3);
    .statsValue {
      font-weight: $font-weight-bold;
      color: $color-base-orange;
    }
  }
}
