@import "../../../styles/_variables.scss";

.container {
  .drugsContainer {
    @include flexbox($flex-direction: column, $gap: $size-16);
  }

  .drugContent {
    @include flexbox($justify-content: space-between);
    @include border($size-2, solid, $color-base-dark-200, bottom);
    padding: $size-8;
    background-color: $color-base-dark;

    @include screen($size: mobile) {
      flex-wrap: wrap;
      row-gap: $size-8;
    }
  }

  .action {
    margin-top: $size-16;
  }
}
