@import "../../../styles/_variables.scss";

.container {
  .loading {
    @include flexbox($justify-content: $center);
    width: $full-size;
    margin: $size-32 $null;
    padding-right: $size-8;
  }

  .error {
    @include flexbox();
    @include border($size-4, solid, $color-base-red, left);
    color: $color-base-red-500;
    padding: $size-4 $size-8;
    margin-bottom: $size-32;
    min-height: $size-32;
    background-color: $color-base-dark;
    animation: slideIn 0.5s ease-in-out;
  }

  .drugsContainer {
    @include flexbox($flex-direction: column, $gap: $size-16);
  }

  .drugContent {
    @include flexbox($justify-content: space-between);
    @include border($size-2, solid, $color-base-dark-200, bottom);
    padding: $size-8;
    background-color: $color-base-dark;
  }

  .action {
    margin-top: $size-16;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
