@import "../../../styles/_variables.scss";

.drugImage {
  @include flexbox($justify-content: $center, $align-items: $center);
  @include border($color: $color-base-orange);
  background-color: $color-base-dark-200;
  border-radius: $size-8;
  box-shadow: $shadow;
  padding: $size-4;
  width: 90px;
  height: 90px;
}

.drugInformationWrapper {
  flex: 1;
  padding: $null $size-12;

  .drugName {
    font-weight: $font-weight-bold;
    color: $color-base-orange;
    margin-bottom: $size-8;
  }

  .drugsInformation {
    @include flexbox($flex-wrap: wrap, $justify-content: space-between);

    @include screen($size: mobile) {
      flex-direction: column;
      gap: $size-8;
    }

    .drugsCost,
    .drugsBonus {
      width: $half-size;

      @include screen($size: mobile) {
        width: $full-size;
      }
    }
  }

  .drugStats {
    color: $color-base-orange;

    span {
      color: $color-base-light;
    }
  }
}
