@import "../../../styles/_variables.scss";

.actionsContent {
  @include flexbox($flex-direction: column);
  @include border($color: $color-base-orange);
  position: relative;
  border-radius: $size-8;
  overflow: hidden;
  width: $full-size;
  background-color: $color-base-dark;

  .courseCompleted {
    position: absolute;
    top: $null;
    left: $null;
    width: $full-size;
    height: $full-size;
    background-color: rgba($color-base-dark, 0.9);

    h2 {
      position: absolute;
      width: $full-size;
      top: $quarter-size;
      color: $color-base-orange;
      text-align: $center;
    }
  }
}

.actionImage {
  @include flexbox($justify-content: $center, $align-items: $center);
  width: $full-size;

  img {
    width: $full-size;
  }
}

.actionInformation {
  flex: 1;
  padding: $size-12;

  .actionName {
    font-weight: $font-weight-bold;
    color: $color-base-orange;
    margin-bottom: $size-8;
  }

  .actionDetails {
    @include flexbox($flex-direction: column, $gap: $size-16);

    .costName {
      color: $color-base-orange;
    }
  }

  .actionDescription {
    @include font-size($size-12);
  }

  .actionCosts {
    @include flexbox;
    width: $full-size;

    .requirements,
    .bonus {
      width: $half-size;
    }
  }

  .completedButton {
    @include flexbox($justify-content: $center, $align-items: $center);
    color: $color-base-orange;
  }
}
