@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;

  .actionsContainer {
    @include flexbox(
      $flex-direction: column,
      $align-items: $center,
      $flex-wrap: wrap,
      $gap: $size-16
    );
    width: $full-size;
  }
}
