@import "../../../styles/_variables.scss";

.container {
  color: $color-base-light;

  .icon {
    svg {
      fill: $color-base-orange;
    }
  }

  .answer {
    @include transition(height, $timing-function: ease-in-out);
    overflow: hidden;
  }
}
