@import "../../../styles/_variables.scss";

.container {
  label {
    span {
      color: $color-base-orange;
      margin-left: $size-2;
    }
  }

  .message {
    @include flexbox($justify-content: $center, $align-items: $center);
    color: $color-base-red-500;
    margin-bottom: $size-16;
  }

  .savings {
    @include flexbox(
      $flex-direction: column,
      $justify-content: $center,
      $align-items: $center
    );
    margin-bottom: $size-32;
    text-align: $center;

    h4 {
      font-weight: $font-weight-normal;
    }

    span {
      font-weight: $font-weight-bold;
      color: $color-base-orange;
    }
  }

  .actions {
    @include flexbox($justify-content: space-between, $gap: $size-32);
    margin-top: $size-16;

    button {
      flex-basis: $half-size;
    }
  }
}
