@import "../../../../styles/_variables.scss";

.container {
  @include flexbox($flex-direction: column);

  .items {
    @include flexbox($gap: $size-8, $align-items: $center);
    width: $full-size;

    @include screen($size: mobile) {
      gap: $size-16;
    }
  }

  .icon {
    svg {
      fill: $color-base-dark-500;

      @include screen($size: mobile) {
        width: $size-32;
        height: $size-32;
      }
    }
  }

  .name {
    p {
      padding-bottom: $null;

      @include screen($size: mobile) {
        @include font-size($size-12);
      }
    }
  }

  .underline {
    width: $three-quarters-size;
    height: $size-1;
    background-color: rgba($color-base-orange, 0.8);
    margin: $size-8 $null;

    @include screen($size: mobile) {
      width: $full-size;
    }
  }

  &:hover {
    svg,
    .name {
      @include transition(all);
      fill: $color-base-orange;
      color: $color-base-orange;
    }
  }
}
