@import "../../../styles/_variables.scss";

.container {
  height: $size-16;
  width: $full-size;
  margin-bottom: $size-8;
  background-color: $color-base-dark-100;
  border: $size-1 solid $color-base-dark-200;
  border-radius: $size-4;
  box-shadow: $shadow;
}

.progressBg {
  @include flexbox($justify-content: flex-end, $align-items: center);
  height: $full-size;
  border-radius: inherit;
  text-align: right;
}

.progressText {
  width: $full-size;
  font-weight: $font-weight-bold;
}
