@import "../../../styles/_variables.scss";

.container {
  padding: $size-32 $size-16;
  height: $full-size;

  .header {
    text-align: $center;
    h2 {
      font-size: $size-40;
      font-family: $font-family-third;
      font-weight: $font-weight-semibold;
    }
  }

  .content {
    margin-top: $size-32;
  }

  .subtitle {
    margin-bottom: $size-32;
  }

  .description {
    margin-bottom: $size-8;
  }

  .actions {
    @include flexbox($align-items: $center, $justify-content: $center);
    margin-top: $size-32;

    a {
      padding: $size-16 $size-32;
      font-size: $size-12;
    }
  }
}
