.section {
  background-color: #f5f3ea;
  padding: 30px;
  color: #000000;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.content {
  margin-top: 30px;
}

.subtitle {
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}
