@import "../../styles/_variables.scss";

.auth {
  width: $full-size;
  padding: $size-32;
  background-color: transparentize($color-base-dark-100, 0.4);
  border-radius: $size-8;
  box-shadow: $shadow;

  @include screen($size: mobile) {
    padding: $size-16;
  }

  .loader {
    @include flexbox($justify-content: $center, $align-items: $center);
    margin-bottom: $size-16;
  }

  h1 {
    margin-bottom: $size-16;
    text-align: $center;
  }
}

.message {
  @include error;
  @include font-size($size-12);
  text-align: $center;
  margin-bottom: $size-16;
}

.form {
  @include flexbox($flex-direction: column, $gap: $size-8);
}

.control {
  position: relative;

  .message {
    @include font-size($size-8);
    font-weight: $font-weight-bold;
    position: absolute;
    text-align: left;
    margin: $null;
    bottom: $null;

    & + .avatars {
      margin-bottom: $size-8;
    }
  }
}

.label {
  width: $full-size;

  &:has(.checkbox) {
    width: auto;
  }
}

.input {
  margin-top: $size-4;
}

.radio {
  display: none;
}

.avatars {
  @include flexbox(
    $flex-wrap: wrap,
    $justify-content: space-between,
    $gap: $size-4
  );
}

.avatar {
  .radio {
    &:hover {
      + img {
        cursor: pointer;
      }
    }

    &:checked {
      + img {
        outline: $size-1 solid $color-base-gold;
      }
    }
  }
}

.actions {
  @include flexbox($justify-content: space-between, $gap: $size-32);

  @include screen($size: mobile) {
    flex-direction: column;
    gap: $null;
  }

  button {
    flex-basis: $half-size;

    @include screen($size: mobile) {
      margin-top: $size-8;
    }
  }
}

.actionsForgot {
  @include flexbox($justify-content: $center);
  margin-top: $size-16;

  span {
    color: $color-base-orange;
    font-weight: $font-weight-bold;
  }
}

.actionsForgotEmail {
  @include flexbox($justify-content: $center);
}

.checkbox {
  @include flexbox($align-items: $center, $gap: $size-8);
  @include font-size($size-12);
  line-height: $size-12;
  cursor: pointer;

  .customCheckbox {
    @include border($size-2, solid, $color-base-dark-500);
    @include transition(all);
    display: inline-block;
    position: relative;
    width: $size-16;
    height: $size-16;
    background-color: $color-base-dark-100;
    border-radius: $size-4;

    &::before {
      @include transition(opacity);
      content: "";
      position: absolute;
      top: $size-1;
      left: $size-1;
      width: $size-10;
      height: $size-10;
      background-color: $color-base-dark;
      opacity: 0;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &.checked {
      @include border($size-2, solid, $color-base-orange);
      background-color: $color-base-orange;
    }

    &.checked::before {
      opacity: 1;
    }
  }
}

.emailSentBox {
  @include flexbox(
    $flex-direction: column,
    $justify-content: $center,
    $align-items: $center,
    $gap: $size-32
  );
}

.emailSentMessage {
  text-align: $center;
  color: $color-base-orange;
  font-weight: $font-weight-bold;
}
