@import "../../styles/_variables.scss";

.auth {
  width: $full-size;
  padding: $size-32;
  background-color: transparentize($color-base-dark-100, 0.4);
  border-radius: $size-8;
  box-shadow: $shadow;

  h1 {
    margin-bottom: $size-16;
    text-align: center;
  }
}

.actions {
  @include flexbox($gap: $size-32);
}
