@import "../../styles/_variables.scss";

.auth {
  width: $full-size;
  padding: $size-32;
  background-color: transparentize($color-base-dark-100, 0.4);
  border-radius: $size-8;
  box-shadow: $shadow;

  .loader {
    @include flexbox($justify-content: $center, $align-items: $center);
    margin-bottom: $size-16;
  }

  h1 {
    margin-bottom: $size-16;
    text-align: $center;
  }

  .message {
    @include error;
    @include font-size($size-12);
    text-align: $center;
    margin-bottom: $size-16;
  }
}

.form {
  @include flexbox($flex-direction: column, $gap: $size-8);
}

.control {
  position: relative;
  .message {
    @include font-size($size-8);
    font-weight: $font-weight-bold;
    position: absolute;
    text-align: left;
    margin: $null;
    bottom: $null;
    & + .avatars {
      margin-bottom: $size-8;
    }
  }
}

.label {
  width: $full-size;
  &:has(.checkbox) {
    width: auto;
  }
}

.input {
  margin-top: $size-4;
}

.radio {
  display: none;
}

.avatars {
  @include flexbox(
    $flex-wrap: wrap,
    $justify-content: space-between,
    $gap: $size-4
  );
}

.avatar {
  .radio {
    &:hover {
      + img {
        cursor: pointer;
      }
    }
    &:checked {
      + img {
        outline: $size-1 solid $color-base-gold;
      }
    }
  }
}

.actions {
  @include flexbox($justify-content: space-between, $gap: $size-32);
  button {
    flex-basis: $half-size;
    margin-top: $size-16;
  }
}

.checkbox {
  @include flexbox($align-items: $center, $gap: $size-8);
  cursor: pointer;
  .customCheckbox {
    @include border($size-2, solid, $color-base-dark-500);
    @include transition(all);
    display: inline-block;
    position: relative;
    width: $size-16;
    height: $size-16;
    background-color: $color-base-dark-100;
    border-radius: $size-4;

    &::before {
      @include transition(opacity);
      content: "";
      position: absolute;
      top: $size-1;
      left: $size-1;
      width: $size-10;
      height: $size-10;
      background-color: $color-base-dark;
      opacity: 0;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &.checked {
      @include border($size-2, solid, $color-base-orange);
      background-color: $color-base-orange;
    }

    &.checked::before {
      opacity: 1;
    }
  }
}
