@import "../../../styles/_variables.scss";

.container {
  @include flexbox(
    $flex-wrap: wrap,
    $justify-content: space-between,
    $align-items: $center,
    $gap: $size-16
  );
  width: $full-size;

  &.mobileOpen {
    @include screen($size: mobile) {
      justify-content: space-between;
      gap: $size-8;
      height: 100vh;
      width: $full-size;
      padding: $size-16;
      background-color: $color-base-dark-50;
    }
  }
}
