@import "../../../styles/_variables.scss";

.placeContainer {
  align-self: flex-start;
  background-color: $color-base-dark;
  padding: $size-8;
  width: calc($half-size - $size-8);
  margin-bottom: $size-16;
}

.detailsContainer {
  @include flexbox($flex-direction: column);

  .robberyInfo {
    p {
      @include font-size($size-12);
      color: $color-base-orange;
    }

    span {
      font-weight: $font-weight-bold;
      color: $color-base-light;
    }
  }

  .robberyAction {
    flex: 1;
    &:has(button) {
      margin-top: $size-8;
    }
  }
}
