@import "../../../styles/_variables.scss";

.container {
  padding: $size-32 $size-16;
  height: $full-size;
  overflow: hidden;

  .description {
    margin-bottom: $size-32;
  }

  .title {
    margin-bottom: $size-32;
  }

  .loading {
    @include flexbox($justify-content: $center);
    width: $full-size;
    margin: $size-32 $null;
    padding-right: $size-8;
  }

  .robberyContainer {
    @include flexbox($flex-wrap: wrap);
    column-gap: $size-8;
  }
}
