@import "../../../styles/_variables.scss";

.container {
  .loading {
    @include flexbox($justify-content: $center);
    width: $full-size;
    margin: $size-32 $null;
    padding-right: $size-8;
  }

  .robberyContainer {
    @include flexbox($flex-wrap: wrap);
    column-gap: $size-8;

    @include screen($size: mobile) {
      @include flexbox($flex-direction: column);
    }
  }
}
