// Font variables

$font-family-base: var(--manrope-font);
$font-family-second: var(--poppins-font);
$font-weight-normal: 400;
$font-weight-bold: 700;

// Color variables

$color-base-light: #f5f5f5;
$color-base-dark: #333333;
$color-base-dark-100: #404040;
$color-base-dark-200: #525252;
$color-base-dark-500: #666666;
$color-base-red: #990000;
$color-base-red-500: #cc0303;
$color-base-gold: #ffd700;
$color-base-orange: #ffa500;

// Size variables

$null: 0;
$half-size: 50%;
$full-size: 100%;

$base-size: 0.4rem; // 4px
$size-1: $base-size / 4; // 1px
$size-2: $base-size / 2; // 2px
$size-4: $base-size; // 4px
$size-8: $base-size * 2; // 8px
$size-12: $base-size * 3; // 12px
$size-14: $size-12 + $size-2; // 14px
$size-16: $base-size * 4; // 16px
$size-20: $base-size * 5; // 20px
$size-24: $base-size * 6; // 24px
$size-32: $size-16 * 2; // 32px
$size-48: $size-16 * 3; // 48px
$size-64: $size-16 * 4; // 64px

// Box Shadow

$shadow: 0 $size-2 $size-4 rgba(0, 0, 0, 0.2);

// Media queries

$breakpoint-mobile: 48rem; // 768px
$breakpoint-tablet: 64rem; // 1024px
$breakpoint-desktop: 80rem; // 1280px

@mixin screen($size) {
  @if $size == "mobile" {
    @media screen and (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $size == "tablet" {
    @media screen and (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $size == "desktop" {
    @media screen and (max-width: $breakpoint-med) {
      @content;
    }
  } @else {
    @content;
  }
}

// Font size mixin

@mixin font-size($size) {
  font-size: $size;
  line-height: $size * 1.5;
}

// Letter spacing mixin

@mixin letter-spacing($spacing: 0.1em) {
  letter-spacing: $spacing;
  margin-right: -$spacing;
}

// Flexbox mixin

@mixin flexbox(
  $display: flex,
  $flex-direction: row,
  $flex-wrap: nowrap,
  $justify-content: flex-start,
  $align-items: stretch,
  $align-content: stretch,
  $gap: $null
) {
  display: $display;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  align-content: $align-content;
  gap: $gap;
}

// Transition mixin

@mixin transition($properties, $duration: 0.3s, $timing-function: ease) {
  transition: $properties $duration $timing-function;
  -webkit-transition: $properties $duration $timing-function;
  -moz-transition: $properties $duration $timing-function;
  -o-transition: $properties $duration $timing-function;
}

// Error mixin

@mixin error {
  @include font-size($size-16);
  font-weight: $font-weight-bold;
  color: $color-base-red-500;
  margin-bottom: $size-8;
}
