// Font variables

$font-base: var(--manrope-font);
$font-second: var(--poppins-font);

// Color variables

$dark-gray: #333333;
$dark-red: #990000;
$base-gold: #ffd700;
$base-orange: #ffa500;

// Size variables

$base-size: 0.4rem; // 4px
$size-4: $base-size; // 4px
$size-8: $base-size * 2; // 8px
$size-12: $base-size * 3; // 12px
$size-16: $base-size * 4; // 16px
$size-20: $base-size * 5; // 20px
$size-24: $base-size * 6; // 24px
$size-32: $size-16 * 2; // 32px
$size-48: $size-16 * 3; // 48px
$size-64: $size-16 * 4; // 64px

// Media queries

$breakpoint-mobile: 48rem; // 768px
$breakpoint-tablet: 64rem; // 1024px
$breakpoint-desktop: 80rem; // 1280px

@mixin screen($size) {
  @if $size == "mobile" {
    @media screen and (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $size == "tablet" {
    @media screen and (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $size == "desktop" {
    @media screen and (max-width: $breakpoint-med) {
      @content;
    }
  } @else {
    @content;
  }
}
