@import "./_variables.scss";
@import "./_reset.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

// HTML and BODY

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-base;
  background-color: $color-base-dark;
  @include screen(mobile) {
    background-color: $color-base-orange;
  }
}

// TYPOGRAPHGY

%heading {
  font-family: $font-family-second;
  font-weight: $font-weight-bold;
  color: $color-base-light;
  margin: 0;
}

h1 {
  @extend %heading;
  @include font-size($size-48);
}
