@import "./_variables.scss";
@import "./_reset.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  background-color: $dark-gray;
}

h1,
h2,
h3 {
  font-family: $font-base;
}
