@import "./_variables.scss";
@import "./_reset.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

// HTML and BODY

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-base;
  background-color: $color-base-dark;
  @include screen(mobile) {
    background-color: $color-base-orange;
  }
}

// TYPOGRAPHY

%heading {
  @include letter-spacing;
  margin: $null;
  color: $color-base-light;
  font-family: $font-family-second;
  font-weight: $font-weight-bold;
}

h1 {
  @extend %heading;
  @include font-size($size-32);
}

h2 {
  @extend %heading;
  @include font-size($size-24);
}

h3 {
  @extend %heading;
  @include font-size($size-20);
}

h4 {
  @extend %heading;
  @include font-size($size-16);
}

h5 {
  @extend %heading;
  @include font-size($size-12);
}

h6 {
  @extend %heading;
  @include font-size($size-8);
}

p {
  @include font-size($size-14);
  @include letter-spacing;
}

// FORMS

input,
select,
textarea {
  @include font-size($size-14);
  width: $full-size;
  border-color: $color-base-dark-100;
  border-radius: $size-4;
  padding: $size-12 $size-16;
  margin-bottom: $size-16;
  color: $color-base-dark;

  &:focus {
    outline: $size-1 solid $color-base-orange;
  }

  &::placeholder {
    color: $color-base-dark-100;
  }
}

label {
  @include font-size($size-8);
  @include letter-spacing;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: $size-4;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
